//General
body {
  background-color: white;
}

span {
   background-image: linear-gradient( $yellow-span 0%, $yellow-span 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
}

h5{
font-size: 30px;
}

.banner_title_photo {
  display: flex;
  justify-content: space-around;
}

#notre_duo, #presentation, #nos_services, #nos_realisations, #contact_form
{
  padding-left: 50px;
  padding-right: 50px;
}

// .button_banner {
//   padding-left: 20px;
//   padding-top: 0px;
// }
.btn-ghost {

  background-color: #F5E767;
  border: 1px solid #F5E767;
  padding: 8px 24px;
  margin-top: 40px;
  border-radius: 50px;
  font-weight: lighter;
  color: white;
}

.btn-ghost:hover {

  opacity: 0.6;
  transition: opacity 0.3s ease;
  color: white;

}

h2 {
  color: #50AFBA;
}

h3 {
  color: #50AFBA;
  font-size: 20px;
}

// partie 1

.banner_home {
  background-color: #50AFBA;
  background-opacity: 40%;
  background-size: cover;
  width: 100vw;
  height: 100vh;

}

.banner_title {
  padding-top: 200px;
  padding-left: 20px;
  text-align: center;
}

.banner_title h1 {
  color: white;
}

.banner_title h2 {
  color: white;
  font-size: 20px;
}

// partie 2

#notre_duo {
  padding-top: 80px;
  width: 100vw;
  height: 130vh;
}

.notre_duo_texte{
  width: 1000px;
  padding-left: 30px;
}

.notre_demarche{
  padding-top: 20px;
}

.notre_duo_texte_photo{
  padding-top: 20px;
}


// partie 3

#presentation{
  padding-top: 80px;
  width: 100vw;
  height: 130vh;
}

.cards_presentation{
  justify-content: space-around;
  padding-top: 30px;
}

.card_marion, .card_gauthier{
  width: 450px;
  text-align: center;
  padding-bottom: 50px;

    h3{
      font-weight: bold;
    }
    h4{
      font-weight: normal;
      color: #50AFBA;
      font-size: 16px;
    }
}

.card_marion_quote, .card_gauthier_quote {
  p {

    font-weight: normal;
    font-style: italic;
  }
}

.card_marion_photo, .card_gauthier_photo {
  padding-bottom: 15px;
  text-align: center;
}

.card_gauthier_quote {
  padding-bottom: 35px;
}



//partie 4

#nos_services{
  padding-top: 80px;
  width: 100vw;
  height: 130vh;
    h3, p {
      text-align: center;
    }

    h3 {
      color: black;
      font-weight: bold;
    }
}


.card_uxui_img, .card_accompagnement_et_conseils_img, .card_developpement_img, .card_maquettage_img, .card_analytics_img, .card_referencement_img {
  text-align: center;
}



.cards_nos_services_1 {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
      h3{
        font-size: 15px;
      }

}

.cards_nos_services_2 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  h3{
        font-size: 15px;
      }
}

.cards_nos_services_1, .cards_nos_services_2 {
  h3{
    padding-top: 25px;
  }
}

.card_uxui, .card_maquettage, .card_accompagnement_et_conseils {
  width: 350px;
}

.card_developpement, .card_analytics, .card_referencement {
  width: 350px;
}

//partie 5

#nos_realisations{
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
}

.cards_projets{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  height: 350px;
}

.card-trip > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

//partie 6

#contact_form{
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
}

.contact_form_title_text{
  padding-top: 30px;
  width: 50%;
  text-align: center;
}

.contact_form_area{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 40px;
}

.localisation{
  text-align: center;
  padding-top: 20px;
}
