<%= render 'shared/navbar'%>

<div class="container_home">
  <div class="banner_home">
    <div class=banner_title>
      <h1>Duo de développeurs fullstack</h1>
      <h2>Ensemble, conçevons votre produit web 🚀</h2>
    </div>
    <div class="banner_photo">
      <img src="" alt="">
    </div>
    <div class="button">
      <a class="btn btn-ghost" href="#">Découvrir</a>
    </div>
  </div>
  <div class=container_elements>
    <div class="notre_duo">
      <div class="notre_duo_title">
        <h2>NOTRE DUO</h2>
      </div>
      <div class="notre_duo_texte">
        <p>Duo dans la vie, nous le sommes également professionnellement : nous unissons nos compétences pour accompagner les entreprises, institutions ou porteurs de projets, dans la conception de leur produit web. Nous conçevons et développons :
        - des prototypes d’applications
        - des sites
        - des applications web
        Les compétences en logique et algorithmie de Gauthier le destine au Back-end. L’esprit créatif de Marion et sa maitrise des outils UI la spécialisent dans le front-end.  Notre vision business commune, nous permet d’être efficaces et totalement alignés, pour vous garantir un projet totalement adéquat vos attentes.
        </p>
      </div>
      <div class="notre_duo_photo">
        <img src="" alt="">
      </div>
      <div class="notre_demarche">
        <h3>NOTRE DEMARCHE</h3>
        <p> - Etablir un cachier des charges précis (besoins, environnement professionnels, attentes, budget)
         - Concevoir votre projet en adéquation</p>
      </div>
      <div class="nos_atouts">
        <h3>NOS ATOUTS</h3>
        <p>Disponibilité, écoute, communication et transparence. Le tout avec enthousiasme :) </p>
      </div>
    </div>
    <div class="presentation">
      <div class="presentation_title">
        <h2>ENVIE DE NOUS CONNAITRE UN PEU PLUS ?</h2>
      </div>
      <div class="cards_presentation d-flex">
        <div class="card_marion">
          <div class="card_marion_name_job">
            <h3>Marion HENRIO</h3>
            <p>Conceptrice et développeuse fullstack</p>
            <p>Spécialité : le Front-end & l’UI / Gestion de projet</p>
          </div>
          <div class="card_marion_quote">
            <p>“Initialement Chef de Projet Innovation Digitale dans de grands groupes du luxe, j’ai décidé de monter en compétences techniques en apprenant à coder.
            Désormais pleinement épanoui professionnellement, j’exprime ma créativité dans vos projets web, et ai plaisir à vous accompagner. ”</p>
          </div>
          <div class="button">
            <a class="btn btn-ghost" href="#">Son parcours</a>
          </div>
        </div>
        <div class="card_gauthier">
          <div class="card_gauthier_name_job">
            <h3>Gauthier TATON</h3>
            <p>Concepteur et développeur fullstack</p>
            <p>Spécialité : le Back-end</p>
          </div>
          <div class="card_gauthier_quote">
            <p>“D’abord Responsable logistique dans les secteurs du Retail et du E-commerce, j’ai décidé de me reconvertir en tant que développeur.
            Avant je concevais des process, aujourd’hui je conçois des projets web !”</p>
          </div>
          <div class="button">
            <a class="btn btn-ghost" href="#">Son parcours</a>
          </div>
        </div>
      </div>
      <div class="stack_technique">
        <div class="stack_technique_title">
          <h3>Notre stack technique</h3>
        </div>
        <div class="stack_technique_img">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <div class="nos_services">
      <div class="nos_services_title">
        <h2>NOS SERVICES</h2>
      </div>
      <div class="cards_nos_services_1">
        <div class="card_accompagnement_et_conseils">
          <div class="card_accompagnement_et_conseils_img">
            <img src="" alt="">
          </div>
          <div class="card_accompagnement_et_conseils_title">
            <h3>ACCOMPAGNEMENT ET CONSEILS</h3>
            <p>Nous vous garantissons un accompagnement personnalisé, rigoureux et en toute confiance.</p>
          </div>
        </div>
        <div class="card_uxui">
          <div class="card_uxui_img">
            <img src="" alt="">
          </div>
          <div class="card_uxui_title">
            <h3>UX/UI</h3>
            <p>Nous recherchons l’expérience utilisateurs la plus satisfaisante & intuitive.
              Nous créeons des interfaces modernes, fonctionnelles et centrées sur votre utilisateur.</p>
          </div>
        </div>
        <div class="card_maquettage">
          <div class="card_maquettage_img">
            <img src="" alt="">
          </div>
          <div class="card_maquettage_title">
            <h3>MAQUETTAGE</h3>
            <p>Nous créons des maquettes de votre projet web, sur-mesure, afin que vous puissiez vous projeter et valider votre concept.</p>
          </div>
        </div>
      </div>
      <div class="cards_nos_services_2">
        <div class="card_developpement">
          <div class="card_developpement_img">
            <img src="" alt="">
          </div>
          <div class="card_developpement_title">
            <h3>DEVELOPPEMENT</h3>
            <p>Nous développons des sites sur-mesures, uniques et responsives répondant à vos besoins.</p>
          </div>
        </div>
        <div class="card_referencement">
          <div class="card_referencement_img">
            <img src="" alt="">
          </div>
          <div class="card_referencement_title">
            <h3>REFERENCEMENT</h3>
            <p>Nous nous assurons que votre site soit développé avec les bonnes pratiques du référencement naturel.</p>
          </div>
        </div>
        <div class="card_analytics">
          <div class="card_analytics_img">
            <img src="" alt="">
          </div>
          <div class="card_analytics_title">
            <h3>ANALYTICS</h3>
            <p>Nous vous mettons à disposition des outils (google analytics & google ads) vous permettant d'approfondir vos connaissances sur le comportement de vos clients.</p>
          </div>
        </div>
      </div>
    <div class="nos_realisations">
      <div class="nos_realisations_title">
        <h2>NOS REALISATIONS</h2>
      </div>
      <div class="cards_projets">
      </div>
    </div>
    <div class="contact_form">
      <div class="contact_form_title_text">
        <h2>UN PROJET ? Contactez-nous !</h2>
        <p>Décrivez nous votre besoin, et nous vous recontacterons très vite par mail ou par téléphone. Nous avons déja hâte de faire votre connaissance et de collaborer avec vous !</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer'%>
